<tr>
  <td><%= expense.expense_category.name if expense.expense_category.present? %></td>
  <td><%= expense.expense_sub_category.name if expense.expense_sub_category.present?%></td>
  <td><%= expense.amount %></td>
  <td><%= expense.created_by.full_name if expense.created_by.present? %></td>
  <td><%= expense.received_by %></td>
  <td><%= expense.approved_by.full_name if expense.approved_by.present? %></td>
  <td><%= expense.status.capitalize %></td>
  <td>
    <%= link_to edit_expenses_category_path(expense), class: 'btn warning-color', remote: true do %>
        <i class="fa fa-pencil"></i>
    <% end %>
    <%= link_to expenses_category_path(expense), method: :delete, class: 'btn danger-color', remote: true do %>
        <i class="fa fa-times"> </i>
    <% end %>
  </td>
</tr>