<div class="pf-statement-body-wrap">
  <div class="pf-statement-body-container pt40">
    <div class="employee-pf-statement-title">
      <p>
        <label class="m0"> Yearly Expense Report </label><br>
      </p>
    </div>
    <table class="custom-pf-table">
      <thead class="custom-pf-table-thead">
      <tr>
        <th>Category</th>
        <% AppSettings::MONTHS_SHORT_NAME.each do |month| %>
            <th><%= month %></th>
        <% end %>
        <th><b>Total</b></th>
        <th><b>Budget</b></th>
        <th><b>Difference</b></th>
      </tr>
      </thead>

      <tbody class="custom-pf-table-tbody">
      <% @expense_categories.each do |category| %>
          <tr>
            <td>
              <%= category.name %>
            </td>
            <% (1..12).each do |month| %>
                <td>
                  <%= @expense_report[category.id][month][:amount] %>
                </td>
            <% end %>
            <td>
              <b>
                <%= @expense_report[category.id][:total_amount] %>
              </b>
            </td>
            <td><b><%= get_budget_amount(category, params[:date].present? ? params[:date][:year] : Date.today.year)  %></b></td>
            <td><b><%= get_budget_amount(category, params[:date].present? ? params[:date][:year] : Date.today.year) -   @expense_report[category.id][:total_amount] %></b></td>
          </tr>
      <% end %>
      <% if @expense_categories.present? %>
          <tr>
            <td><b>Total</b></td>
            <% (1..12).each do |month| %>
                <td>
                  <b>
                    <%= @expense_report[:month_total][month] %>
                  </b>
                </td>
            <% end %>
            <td>
              <b>
                <%= @expense_report[:month_total][:amount] %>
              </b>
            </td>
            <td><b><%= get_total_budget(params[:date].present? ? params[:date][:year] : Date.today.year) %></b></td>
            <td><b><%= get_total_budget(params[:date].present? ? params[:date][:year] : Date.today.year) - @expense_report[:month_total][:amount] %></b></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>