<% if @clients.length > 0 %>
    <% @clients.each do |client| %>
        <tr>
          <td class="align_left"><%= link_to(client.organization_name, 'javascript:', class: "client_name text-overflow-class", value: client.id) %></td>
          <td class="align_left text-overflow-class" data-overflow-rows="2"><%= client.contact_name %></td>
          <td class="align_left text-overflow-class" data-overflow-rows="2"><%= client.email %></td>
          <td class="align_left text-overflow-class" data-overflow-rows="2"><%= client.business_phone %></td>
          <td class="align_right"><%#=  number_to_currency(client.client_credit, unit: client.currency_symbol) %></td>
          <td class="align_center">
            <%= link_to t('edit'), edit_billing_client_path(client), :class => 'edit_action' %>
            <%= link_to 'Delete', billing_client_path(client), method: :delete %>
          </td>
        </tr>
    <% end %>
<% end %>
