<% if @invoices.length > 0 %>
    <% @invoices.each do |invoice| %>
        <tr>
          <td class="align_center"><%= link_to(invoice.invoice_number, billing_invoice_path(invoice), :class => "invoices_link") %></td>
          <td class="align_left text-overflow-class" data-overflow-rows="2"><%= invoice.client.try(:organization_name).blank? ? invoice.unscoped_client.try(:organization_name) : invoice.client.organization_name %></td>
          <td class="align_right"><%= "#{number_to_currency(invoice.invoice_total, unit: invoice.currency.present? ? invoice.currency : "$")}" %></td>
          <td class="align_center"><%= link_to invoice.invoice_date, "/invoices/preview?inv_id=#{invoice.encrypted_id}", :target => "_blank" rescue "" %></td>
          <td class="align_center"><%= invoice.due_date rescue "" %></td>
          <td class="align_center <%= invoice.status %>" title="<%= invoice.tooltip %>"><span><%= invoice.status %></span></td>
          <td class="align_center"><span><%= invoice.inv_type %> </span></td>
          <td class="align_center">
            <% if invoice.deleted_at.nil? and !invoice.invoice_type.eql?("ProjectInvoice") %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_billing_invoice_path(invoice) %>
            <% else %>
                <%= link_to t('views.common.recover', :default => t("helpers.links.recover")),
                            "javascript:;", class: "single-recover-link" if params[:status] == "deleted" %>
            <% end %>
          </td>
        </tr>
    <% end %>
<% end %>
