<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Billing Clients
      </h4>
    </div>
    <div class="secondary-color">
      <div class="content-body-wrapper">
        <div class="row actions-button mb10">
          <div class="col-md-6 reset-padding">
            <%= form_tag '', method: 'get', remote: true, id: 'daterange-expenses-form' do %>
                <div class="input-group">
                  <%= text_field_tag :query, '', value: params[:query], class: 'form-control reset-border-radius', placeholder: 'Client name, invoice number, status, date...' %>
                  <span class="input-group-addon reset-border-radius" id="basic-addon2">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
            <% end %>
          </div>
          <div class="col-md-6 reset-padding">
            <div class="pull-right">
              <div class="btn-group">
                <%= link_to new_billing_invoice_path, class: 'btn btn-default reset-border-radius' do %>
                    <i class="fa fa-plus"></i> New Invoice
                <% end %>
              </div>
              <div class="btn-group">
                <%= select_tag :export_to, options_for_select(AppSettings::EXPORT_TO.collect { |opt| [opt.camelize, opt] }), {class: 'form-control custom-export-to reset-border-radius', prompt: 'Export To....'} %>
              </div>
            </div>
          </div>
        </div>
        <div class="row content-body">
          <div class="invoice">
            <div class="content_middle">

              <div class="table-warapper">
                <div class="table-warapper-body">
                  <table cellpadding="0" cellspacing="0" class="table action-tablex beaccount-table tablesorter table-responsive table-hover table-striped">
                    <colgroup>
                      <col class="one"/>
                      <col class="two"/>
                      <col class="three"/>
                      <col class="four"/>
                      <col class="five"/>
                      <col class="six"/>
                      <col class="seven"/>
                      <col class="eight"/>
                      <col class="nine"/>
                    </colgroup>
                    <thead id="invoice_head">
                    <%= render partial: 'invoice_header' %>
                    </thead>
                    <tbody id="invoice_body">
                    <%= render 'invoice' %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>