<%= render 'shared/modal_header', modal_title: @leave_application.new_record? ? 'Leave Application' : 'Edit Leave Application' %>
<%= form_for @leave_application, html: {id: 'leave-application'}, remote: true do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="modal-body">
      <div class="form-group col-sm-6 pl0 pr5">
        <%= f.label :leave_category_id %><br>
        <%= f.select :leave_category_id, options_for_select(@leave_categories.collect { |category| [category.name, category.id] }), {}, {class: 'form-control', data: {required: true}} %>
      </div>
      <div class="form-group col-sm-6 pr0 pl5">
        <%= label_tag 'Type' %><br>
        <%= select_tag 'leave_type', options_for_select(['Paid', 'Unpaid']), {class: 'form-control', data: {required: true}} %>
      </div>
      <%= f.hidden_field :employee_id %>
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control', rows: '3', data: {required: true} %>
      </div>
      <div class="form-group input-validate-message-area">
        <%= label_tag :leave_days, 'Select date want to leave' %>
        <%= text_field_tag :leave_days, '', data: {required: true} %>
      </div>

      <div class="form-group ">
        <div class="leave-application-custom-upload-file-wrap btn btn-default">
          <span id="uploaded_file"><i class="fa fa-paperclip"></i> Attachment</span>
          <%= f.file_field :attachment, class: 'leave-application-custom-upload-file-item' %>
        </div>
      </div>
      <%= hidden_field_tag :year, params[:year] %>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <%= f.submit 'Send Leave Request', class: 'btn btn-primary invite-submit' %>
        <div class="btn btn-default" data-dismiss='modal'>Cancel</div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#leave_application_attachment').change(function () {
            var reader = new FileReader();
            var file = this.files[0];
            reader.onload = function (e) {
                $('#uploaded_file').html(file.name);
            };
            reader.readAsDataURL(this.files[0]);
        });

        $('#leave-application').syftValidator();

        $('#leave_days').tokenfield({
            createTokensOnBlur: true
        });

        $('#leave_days-tokenfield').datetimepicker({
            format: 'YYYY-MM-DD'
        });

        $('#leave-application').submit(function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).ajaxSubmit({
                url: $(this).attr('action'),
                dataType: 'script',
                method: $(this).attr('method')
            });
        });
    });
</script>
