<div class="pf-statement-body-wrap">
  <div class="pf-statement-body-container pt40">
    <div class="employee-pf-statement-title">
      <p>
        <label class="m0"> Leave Summary </label><br>
      </p>
    </div>
    <table class="custom-pf-table">
      <thead class="custom-pf-table-thead">
      <tr>
        <th rowspan="2">Employee Name</th>
        <% @leave_categories.each do |category| %>
            <th colspan="2"><%= category.name + '(' + category.days(params[:date].present? ? params[:date][:year].to_i : Date.today.year).to_s + ')' %></th>
        <% end %>
        <th>Unpaid Leave</th>
      </tr>
      <tr>
        <% @leave_categories.each do |category| %>
            <th>T</th>
            <th>R</th>
        <% end %>
        <th>T</th>
      </tr>
      </thead>

      <tbody class="custom-pf-table-tbody">
      <% @leave_report.each do |employee_id, value| %>
          <tr>
            <td>
              <%= value[:employee].full_name if value[:employee].present? %>
            </td>
            <% @leave_categories.each do |category| %>
                <td><%= value[category.id][:taken] %></td>
                <td><%= value[category.id][:remaining] %></td>
            <% end %>
            <td><%= value[:total_unpaid] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>