<ul class="expand-menu-items">
  <li> <%= link_to 'Dashboard', billing_dashboard_path %></li>
  <li> <%= link_to 'Invoice', billing_invoices_path %></li>
  <li> <%= link_to 'Payments', billing_payments_path %></li>
  <li> <%= link_to 'Clients', billing_clients_path %></li>
  <li> <%= link_to 'Report', '#' %></li>
</ul>