Monthly Salary Sheet <br><br>
<div class="pf-statement-body-wrap">
  <div class="pf-statement-body-container pt40">
    <table class="custom-pf-table">
      <thead class="custom-pf-table-thead">
      <tr>
        <th> </th>
        <th> Employee ID</th>
        <th> Name</th>
        <th> Basic Salary</th>
        <th> Addition</th>
        <th> Gross Salary</th>
        <th> Deduction</th>
        <th> Net Salary</th>
        <th> Note</th>
      </tr>
      </thead>

      <tbody class="custom-pf-table-tbody">
      <% @salaries.each_with_index do |salary, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= salary.employee.id_card_no if salary.employee.present? %></td>
            <td><%= salary.employee.full_name if salary.employee.present? %></td>
            <td><%= salary.basic_salary %></td>
            <td><%= salary.total_addition - salary.basic_salary %></td>
            <td><%= salary.total_addition %></td>
            <td><%= salary.total_deduction %></td>
            <td><%= salary.total %></td>
            <td></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>