<div class="row">
  <div class="header-wrapper">
    <h4>Payroll Salary</h4>
  </div>
  <div class="clearfix content-body p0 mb30">
    <div class="form-wrap">
      <%= form_tag process_all_payroll_salaries_path, method: 'post', id: 'payroll-salaries-sorting-form' do %>
          <table class="table reset-table-border m0">
            <tbody>
            <tr>
              <td>
                <%= select_month @salary_month, {}, {class: "form-control payroll-salaries-month-select"} %>
              </td>
              <td>
                <%= select_year @salary_year, {:start_year => Date.today.year, :end_year => current_department.year}, {class: "form-control payroll-salaries-year-select"} %>
              </td>
              <td>
                <div id="process-salary-btn-container">
                  <% if @employees.present? %>
                      <%= submit_tag 'Process Salary', class: 'primary-color-bg-with-hover', id: 'process-salary-btn' %>
                  <% end %>
                </div>
              </td>
            </tr>
            </tbody>

          </table>
          <!--<div class="col-md-4 fix-margin" style="padding-left: 0px !important;">-->
          <!--<a href="javascript:void(0)"  class="btn btn-primary select-employee">Select Employee</a>-->
          <!--</div>-->

          <div id="salary_bulk_employee_select" class="col-sm-12">
            <% if @employees.present? %>
                <%= render 'bulk_employees' %>
            <% else %>
                <%= render 'shared/no_data_found', message: 'No due salary in this month' %>
            <% end %>
          </div>
          <!--<div class="col-sm-12" style="text-align: center">-->
          <!--<%#= submit_tag 'Process Salary', class: 'btn btn-info'%>-->
          <!--</div>-->
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#date_month, #date_year').change(function () {
            $.ajax({
                url: '/payroll/salaries/payable_employees',
                type: 'get',
                dataType: 'script',
                data: {month: $('#date_month').val(), year: $('#date_year').val()}
            });
        });
    });
</script>
