<ul class="expand-menu-items">
    <li> <%= link_to 'Dashboard', attendance_dashboard_path %></li>
    <li> <%= link_to 'Attendances', attendance_attendances_path %></li>
    <li> <%= link_to 'History', history_attendance_attendances_path %></li>
    <li> <%= link_to 'Report', report_attendance_attendances_path %></li>
    <li> <%= link_to 'Stats', stats_attendance_attendances_path %></li>
</ul>