<ul class="expand-menu-items">
  <li> <%= link_to 'Dashboard', provident_fund_dashboard_path %> </li>
  <li> <%= link_to 'Rules', provident_fund_rules_path %></li>
  <li> <%= link_to 'PF Account', provident_fund_accounts_path %></li>
  <li> <%= link_to 'PF Contribution', employee_contributions_provident_fund_contributions_path %></li>
  <li> <%= link_to 'Investment', provident_fund_investments_path %></li>
  <li> <%= link_to 'Loan', provident_fund_loans_path %></li>
  <li> <%= link_to 'Cash Statement', provident_fund_statement_path %></li>
</ul>